[submodule "medgap/2.1"]
	path = medgap/2.1
	url = https://isaacliao@github.com/StanfordBioinformatics/MedGAP.git
[submodule "medgap/2.0"]
	path = medgap/2.0
	url = https://isaacliao@github.com/StanfordBioinformatics/MedGAP.git
[submodule "ingenuity_upload/dev"]
	path = ingenuity_upload/dev
	url = https://github.com/StanfordBioinformatics/ingenuity_upload.git
[submodule "coverage_stats/dev"]
	path = coverage_stats/dev
	url = https://github.com/StanfordBioinformatics/coverage_stats.git
[submodule "tools/jsonwf/1.0.3"]
	path = tools/jsonwf/1.0.3
	url = https://github.com/StanfordBioinformatics/JsonWf.git
[submodule "coverage_stats/0.1"]
	path = coverage_stats/0.1
	url = https://github.com/StanfordBioinformatics/coverage_stats.git
[submodule "coverage_stats/0.2"]
	path = coverage_stats/0.2
	url = https://github.com/StanfordBioinformatics/coverage_stats.git
